

.wrapper{
    position: absolute;
    top:14%;
    left:27%;
    width:450px;
    height: 450px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.wrapper img{
    width:100%;
    height: 100%;
    border:10px solid lightblue;
    object-fit: cover;
}
.lightbox-btn{
    display: flex;
    /* flex-direction: column; */
    gap:10px;
}
.lightbox-btn button{
    outline: none;
    background: transparent;
    padding: 5px;
    border-radius: 10px;
    border:2px solid red;
    cursor: pointer;
    transition: all 0.5s;
}
.lightbox-btn button:hover{
    background-color: rgb(197, 182, 210);
}